@charset "windows-1251";
    body, table{background-color: #FFFFFF; font-family: Arial, Helvetica, sans-serif; font-size: 12px}
    a{color: #2136f6;}
    a:hover{color: #981912;}
    p{margin: 10px 0px 7px 0px}
    input{background-color: #F5F5F5; border-width: 2px}     
    
    /* яРХКЭ ДКЪ МЮГБЮМХЪ ЯХЯРЕЛШ */
    .title {font-size: 18px; color: #253064; margin: 5px 0px 0px 0px}
    /* мЮГБЮМХЕ ЯРПЮМХЖШ (ОН ТСМЙЖХНМЮКС) */
    .namepage{font-size: 16px; color: #3C6194; margin: 10px 30px 5px 0px}
    .hiddenrow{background-color: #FCFCFC; color: #818181}
    
    /* рЮАКХЖЮ Я ЯЮЛШЛХ БЕПУМХЛХ МЮБХЦЮЖХНММШЛХ ЯЯШКЙЮЛХ Х МЮГБЮМХЕЛ ОПХКНФЕМХЪ */
    table.topmenu {color: #7C7C7C; background-color: #F5F5F5; width: 100%; 
              border-bottom-style: solid; border-width: 1px; border-color: #777777}
    table.topmenu td {padding: 0px 0px 5px 0px;}          
    table.topmenu a {color: #5C7792}              
    
    /* яЮЛЮЪ МХФМЪЪ ЪВЕИЙЛ РЮАКХЖШ Я СОНМХЛЮМХЕЛ НА ЮБРНПЯРБЕ ЯВЕРВХЙЮ  */
    table tr.authors td {border-top-style: solid; border-color: #D2D2D2; border-top-width: 3px; padding: 0px 0px 0px 20px; background-color: #E4E4E4; height: 30px; color: #4D4D4D}
    table tr.authors td a {color: #2B5077}
    table tr.authors td a:hover {color: #1B3CD6}    
    
    
    /* ъВЕМЙЮ РЮАКХЖШ, Б ЙНРНПНИ ПЮЯОНКЮЦЮЕРЯЪ ЛЕМЧ */
    td.menu{width:20%; padding: 10px 7px 20px 25px; border-right-style: solid; border-width: 1px; border-color: #000000}
    td.menu div {padding: 5px 0px 5px 0px}
    td.menu div.active a{color: #000000; font-weight: bold; }   
    
    /* ъВЕИЙЮ РЮАКХЖШ, Б ЙНРНПНИ ПЮЯОНКЮЦЮЧРЯЪ НЯМНБМШЕ ДЮММШЕ Х РЮАКХЖШ */
    td.main{padding: 10px 0px 0px 15px; }
    
    /* яРХКХ ДКЪ НЯМНБМШУ РЮАКХЖ ЯН ЯРЮРХЯРХВЕЯЙХЛХ ДЮММШЛХ */
    table.table {background-color: #F5F5F5; border-bottom-style: solid; border-width: 1px; border-left-style: solid; border-color: #656565}
    table.table td {padding: 3px 5px 3px 5px; border-top-style: solid; border-width: 1px; border-right-style: solid; border-color: #656565}
    table.table tr.header td{border-color: #D2D2D2; color: #FFFFFF; padding: 5px 5px 5px 5px; background-color: #122580; font-weight: bold; }
    table.table tr td.header{border-color: #D2D2D2; color: #FFFFFF; padding: 5px 5px 5px 5px; background-color: #122580; font-weight: bold; }
    table.table tr.header td a{color: #FFFFFF; }
    table.table tr.header td a:hover{color: #FFFFCC; }  
    table.table tr td.header a{color: #FFFFFF; }
    table.table tr td.header a:hover{color: #FFFFCC; }  
    table.table tr.subtitle td{padding: 3px 0px 3px 10px; color: #000000; background-color: #EBEBEB; border-bottom-style: solid; border-bottom-width: 2px; border-bottom-color: #000000}        
    table.table td.field{background-color: #E3E3E3; color: #264769; font-weight: bold; padding-left: 10px; text-align: left}        
    /*йПЮЯМШИ ЖБЕР ДКЪ БШУНДМШУ ДМЕИ */
    table.table tr.red td {color: #FF0000}
    table.table tr.red td a:link{color: #FF0000}
    table.table tr.red td a:hover{color: #FF0000}
    table.table tr.red td a:visited{color: #FF0000}
    
    /* мЮГБЮМХЕ ОНКЪ ДКЪ ТНПЛ */
    td.field{color: #264769; font-weight: bold; padding-right: 10px;}

    /* лЕМЧ БРНПНЦН СПНБМЪ, ГЮОХЯЮММНЕ Б ЯОХЯЙЕ */
    ul.menu li.active a{color: #000000; font-weight: bold}
    
    /* йМНОЙХ Б ТНПЛЮУ */
    .button{ background-color: #04277B; color: #FFFFFF; font-weight: bold}      
    
    /* рЕЙЯРНБЮЪ НАКЮЯРЭ */
    textarea {
      background-color: #F5F5F5; border-width: 2px
    }
    /* бШОЮДЮЧЫХИ ЯОХЯНЙ */
    select {
      background-color: #F5F5F5; border-width: 2px
    }

    .help {color: #264769; font-weight: bold; padding-left: 10px; text-align: left}        
    